

.h{
    color:#020231;
    font-style:italic;
}
.h span{
    font-size: 3.4rem;
    color:#A0B6B9;
}
.line{
    border:1px solid #17a2b8;

    
}
.line1{
    width: 30%;
    margin: auto;
    margin-bottom: 0.3rem;
}
.line2{
    width: 23%;
    margin: auto;
    margin-bottom: 0.3rem;
}
.line3{
    width: 16%;
    margin: auto;
    margin-bottom: 0.3rem;
}
.line4{
    width: 9%;
    margin: auto;
    margin-bottom: 0.3rem;;
}
.line5{
    width: 5%;
    margin: auto;
    margin-bottom: 0.5rem;
}
label
{
    font-weight: 600;
}
#searchInput{
    border: 1px solid #17a2b8 !important;
}
.hambozo
{
    justify-content: space-around;
}

thead
{
    background-color: #17a2b8;
    color: #fff;
}
.container #req
{
    display: none;
    text-align: center;
    font-size: 25px;
}



